{% comment %}
    Display an episode's timings and learning objectives.
{% endcomment %}
<blockquote class="objectives">
  <h2>{{ include.language.overview }}</h2>

  <div class="row">
    <div class="col-md-3">
      <strong>{{ include.language.teaching }}:</strong> {{ page.teaching }} {{ include.language.min }}
      <br/>
      <strong>{{ include.language.exercises }}:</strong> {{ page.exercises }} {{ include.language.min }}
    </div>
    <div class="col-md-9">
      <strong>{{ include.language.questions }}</strong>
      <ul>
	{% for question in page.questions %}
	<li>{{ question|markdownify }}</li>
	{% endfor %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
      <strong>{{ include.language.objectives }}</strong>
      <ul>
	{% for objective in page.objectives %}
	<li>{{ objective|markdownify }}</li>
	{% endfor %}
      </ul>
    </div>
  </div>

</blockquote>
