---
---
{% comment %}
In which language is the current page? Guess from the path: locale="/<lang>/".
Load language tockens for menus {{ data_language }}. Translations need to provide a lang.md file that translates what's under _data/language.yaml
Generate list of episodes and extras for the language shown. - NOTE: _extras need in the permlinks /<language>/page!!
{% endcomment %}
{% if page.path contains "_locale" %}
    {% assign locale = page.path | remove: "_locale/" | split: "/" | first | downcase %}
    {% assign pathLocale = locale | append: '/' | prepend: '/' %}
    {% assign episodes = site.locale | where_exp:"item", "item.path contains pathLocale" | where_exp:"item", "item.path contains 'episode'" | sort: "path"  %}
    {% assign extras = site.locale | where_exp:"item", "item.path contains pathLocale" | where_exp:"item", "item.path contains 'extra'" | sort: "path"  %}
{% else %}
    {% assign locale = "en" %}
    {% assign episodes = site.episodes %}
    {% assign extras = site.extras %}
{% endif %}
{% assign lang_file = locale | append: '.md' %}
{% assign data_language = site.pages | where_exp:"page", "page.path contains 'i18n'" | where_exp:"page", "page.path contains lang_file" | first %}
{% assign data_language_en = site.pages | where_exp:"page", "page.path contains 'i18n'" | where_exp:"page", "page.path contains 'en.md'" | first %}
<!doctype html>
<html lang="{{ locale }}">
  <head>

    <meta name="slug" content="{{site.github.project_title}}" />
    <meta name="startdate" content="{{page.startdate}}" />
    <meta name="enddate" content="{{page.enddate}}" />
    <meta name="humandate" content="{{page.humandate}}" />
    <meta name="country" content="{{page.country}}" />
    <meta name="venue" content="{{page.venue}}" />
    <meta name="address" content="{{page.address}}" />
    <meta name="latlng" content="{{page.latlng}}" />
    <meta name="language" content="{{page.language}}" />
    <meta name="eventbrite" content="{{page.eventbrite}}" />
    <meta name="instructor" content="{{page.instructor|join:'|'}}" />
    <meta name="helper" content="{{page.helper|join:'|'}}" />
    <meta name="contact" content="{{page.email}}" />
    {% if page.redirect %}
    <meta http-equiv="refresh" content="0; url={{page.redirect}}" />
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="last-modified" content="{{ site.time }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap.css' | absolute_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/bootstrap-theme.css' | absolute_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/lesson.css' | absolute_url }}" />
    {% if site.carpentry == "swc" %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/img/favicon-swc.ico' | absolute_url }}" />
    {% elsif site.carpentry == "dc" %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/img/favicon-dc.ico' | absolute_url }}" />
    {% elsif site.carpentry == "lc" %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/img/favicon-lc.ico' | absolute_url }}" />
    {% endif %}
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
    <title>{{ page.venue }}: {{ page.humandate }}</title>
  </head>
  <body>
    <div class="container">
      {% include navbar.html language=data_language language_en=data_language_en episodes=episodes extras=extras locale=locale %}
      {% include workshop_ad.html language=data_language %}
{{ content }}
      {% include workshop_footer.html language=data_language %}
    </div>
    {% include javascript.html %}
  </body>
</html>
